{
	"extends": "airbnb-base/legacy",
	"rules": {
		"no-console": 0,
		"linebreak-style": 0,
		"indent": 0,
		"no-tabs": 0,
		"no-undef": 0,
		"no-unused-vars": 0
	},
	"parserOptions": {
		"ecmaVersion": 6
 	}
}