@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,800');

$primary: #191C24;
$secondary: #FFD91B;

body {
	font-family: 'poppins', sans-serif;
	font-size: 12px;
}

nav {
	padding: 10px 0;
	li {
		margin: 0 10px;
		padding: 0 12px;

		a {
			font-family: 'Poppins', sans-serif;
			font-size: 13px;
			font-weight: 600;

			&:hover, &:active, &.active {
				color: $secondary;
			}

			&.btn {
				color: #000;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
}

hr {margin: 10px 0;}

.sidenav {
	li{
		color: #fff;

		&.logo {margin-top: 20px;}
		a {
			color: white !important;
			text-transform: capitalize;

			i.material-icons {color: $secondary !important;}

			&.btn {
				color: #000 !important;
				font-weight: 600;
				text-transform: uppercase;
			}

			&.secondary-text {
				color: $secondary !important;
			}
		}
	}
}

.co {
	padding: 0 11.25px;
}

.section-left {
	// background-color: #191C24;

	div {
		padding: 12px;
		color: white;

		a {
			color: white;

			i.material-icons {
				color: $secondary;
				margin-right: 12px;
				font-size: 25px;
			}

			&:hover {
				color: $secondary;
			}
		}
	}
	ul {
		width: 100%;
		border: none;

		li {
			a.collapsible-header {
				background-color: transparent;
				border: none;
			}
			div.collapsible-body {
				border: none;

				ul li {
					padding: 12px 5px;
					border-bottom: 1px solid #12171B;
					cursor: pointer;

					&:hover {
						background-color: darken(#191C24, 1%);
					}
				}
			}
		}
	}
}

.ads {
	border-radius: 10px;
	content: " ";
	height: 160px;
	background-color: #efefef;
	margin-bottom: 12px;
}

.search {
	color: black;
	border-radius: 5px;
	position: relative;
	margin: 2px 0 20px 0;

	i.material-icons {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		font-size: 30px;
	}

	.search-input {
		border: none !important;
		box-shadow: none !important;
		width: 80% !important;
		margin: 5px 10px !important;
		height: 2rem !important;
		font-size: 12px !important;
	}
}

.table-section {
	margin: 12px 0;
	
	.table-head {
		background-color: #313445;
		border-radius: 5px;
		color: white;
		padding: 12px 3px 12px 12px;

		div {
			width: 65%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: start;

			a {color: white; &:hover {color: $secondary;}}
			span { font-size: 0.8vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
		}
	}

	.table-body {
		margin: 12px 0;
		padding: 12px;

		thead {
			td {color: $secondary;}
		}
		tbody tr:hover {
			background-color: #313445;
		}
	}
}

.share {
	margin: 12px 0;

	.sl {
		padding: 12px;
	}
	.links {
		width: 65%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

.bet-ad {
	margin: 12px 0;

	img {
		width: 100%;
		height: auto;
	}
}

.tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 42px;
	
	.tab {
		border-radius: 5px;
		width: 33%;
		text-transform: capitalize;
		position: relative;
		line-height: 46px;

		a {
			color: $secondary;
			font-size: 12px;
			
			&.active {
				color: white !important;
			}
			&:hover {color: white !important;}
		}
		span {
			position: absolute;
			color: white;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;

			&.l {left: 12px;}
			&.r {right: 12px;}
			&:hover {color: $secondary;}
		}
	}

	li.tab:has( a.active ) {
		background-color: #313445 !important;
	}
}
.no-margin {margin: 0 !important;}

#day, #odds, #table, #match {
	margin: 12px 0px;

	ul {
		border: none;

		li {
			margin-bottom: 12px;

			div.collapsible-header {
				border: none;
				border-radius: 3px;
				padding: 12px;
				font-weight: 500;
			}
		}
	}
}

#day, #odds, #table {
	ul {
		li {
			div.collapsible-header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			div.collapsible-body {
				padding: 0;
				margin: 12px 0;
				border: none;

				ol {
					margin: 12px 0;
					width: 100%;
					list-style: none;
					padding: 0;

					li {
						padding: 12px;
						margin: 1px 0;
						border-radius: 2px;

						.time {
							font-size: 12px;
							font-weight: 500;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							span {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
						.home-team span, .away-team span {
							display: block;
							height: 20px;
							width: 20px;
							margin-left: auto;
							margin-right: auto;
							overflow: hidden;
							background-color: #ededed;
							border-radius: 3px;
						}
						.mts {
							p {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								margin: 0;

								&.scs {
									display: flex;
									flex-direction: row;
									justify-content: space-around;
									align-items: center;
								}
							}
						}
					}
				}
			}
		}
	}
}

#match {
	ul {
		box-shadow: none;

		li {
			div.collapsible-header {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
			div.collapsible-body {
				border: none;
				padding: 12px;
				margin: 12px 0; 

				.mst {
					height: auto;
					min-height: 200px;
					border-radius: 2px;
					
					.ast {
						height: 160px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						border-bottom: 1px solid #101519;

						.pos {
							width: 90%;
							margin-left: auto;
							margin-right: auto;
							display: flex;
							flex-direction: row;
							justify-content: space-around;
							align-items: center;

							.team {
								height: 36px;
								width: 36px;
								background-color: #ededed;
								border-radius: 3px;
								overflow: hidden;
							}
							.pos-prog {
								height: 4px;
								width: 6vw;
								background-color: #ededed;
								content: " ";
								border-right-width: -50px;
								-webkit-transform: skew(-30deg);
							   	-moz-transform: skew(-30deg);
							    -o-transform: skew(-30deg);
							    transform: skew(-30deg);

							    span {
							    	display: block;
							    	height: 100%;
							    	content: " ";
							    }
							}
							.score {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								font-size: 24px;
								font-weight: 500;
								width: 4vw;
							}
						}

						.deta {
							width: 90%;
							margin-left: auto;
							margin-right: auto;
							margin-top: 5px;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							padding: 0 24px;
							font-size: 14px;
							font-weight: 600;
							color: #fff;

							p span {
								margin: 0 10px;
							}
						}
					}

					.bst {
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 0;
						padding: 5px 20px;

						ul {
							li {
								padding: 8px 0;
								color: white;

								span {
									font-weight: 500;
									font-size: 13px;
									max-width: 80%;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
						}
						.mida {
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 8px 0;
						}
					}
				}

				.tst {
					margin-bottom: 10px;
					.ss {margin-right: 8px;}
					.sa {margin-left: 8px;}
				}
			}
		}
	}
}

#matchInfo {
	padding: 12px 0;

	.tabl {
		width: 80%;
		margin-right: auto;
		margin-left: auto;

		table {
			thead {
				tr {
					td {
						color: $secondary;						
					}
				}
				.team {
					height: 20px;
					width: 20px;
					background-color: #ededed;
					border-radius: 3px;
					overflow: hidden;
				}
			}
			td {
				text-align: center;
				text-transform: capitalize;
				font-weight: 600;
				font-size: 12px;
				color: white;
			}
		}
	}
}


.saii {
	display: flex;
	flex-direction: row;
	align-items: center;

	.saimg {margin-right: 12px;}
}

span.up {
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;

  border-bottom: 5px solid #00e676 ;
}

span.down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  
  border-top: 5px solid #b71c1c;
}

span.good {
	height: 15px;
	width: 2px;
	background-color: #00e676;
	float: right;
	display: block;
}

span.med {
	height: 15px;
	width: 2px;
	background-color: $secondary;
	float: right;
	display: block;
}

span.bad {
	height: 15px;
	width: 2px;
	background-color: #b71c1c;
	float: right;
	display: block;
}

.login {
	padding: 50px 0;
	min-height: 80vh;
}

.credentials {
	.tabs {
		height: 52px;

		.tab {
			line-height: 54px;
			height: 56px;

			a {
				font-weight: 600;
				color: white;
				text-transform: uppercase;
				background-color: #313445;
				letter-spacing: 1px;
				font-size: 14px;

				&.active {
					background-color: $secondary;
					color: #333333 !important;
				}
			}
		}
	}

	#test2, #test1 {
		.inp {
			padding: 50px 0;
		}
		p {
			margin: 20px 0;
			font-weight: 600;

			&.flow-text {
				font-weight: 200;
			}
		}
		.form-div {
			margin: 35px auto 10px auto;

			label {
				font-size: 14px !important;
				font-weight: 600;
			}
			input.input-des {
				background-color: #fff;
				border-radius: 5px;
				margin: 10px 0;
				padding: 0 15px;
				border: 1px solid #101519;
				color: #000000;
				width: 100% !important;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
    			-moz-box-sizing: border-box; 
			}
			span {
				font-weight: 400;
				font-size: 12px;
			}
			a.btn {
				width: 100%;
				text-align: center;
				margin-top: 10px;
				font-weight: 600;
				height: 42px;
				line-height: 42px;
				font-size: 18px;
				border-radius: 5px;

				&.facebook {
					background-color: #385185;
					text-transform: capitalize;
				}

				&.google {
					background-color: #DC4E41;
					text-transform: capitalize;
				}

				span {
					display: inline-flex;
					margin-right: 7px; 
				}
			}
		}
	}
}
li.indicator { background-color: transparent !important;}

@media only screen and (max-width: 600px) {
	.ads {
		height: 100px;
	}
	.ls {margin-top: 12px;}

	.login {
		padding: 0;
		position: relative;
	}
	.credentials {
		position: absolute !important;
		top: -10px;
		padding: 0 !important;
		margin: 0;

		.t-cont {
			width: 100vw !important;
			padding: 0 !important;
			margin-left: -10px !important;

			.tabs {
				.tab {
					a {
						background-color: #101519;
						&.active {
							background-color: $secondary;
							color: #333333 !important;
						}
					}
				}
			}
		}

		#test1, #test2 {
			.inp {
				padding: 10px 0;
				background-color: transparent !important;
			}
		}
	}
}